* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4caaec, #053e66);
  font-family: "Lato", sans-serif;
  color: white;
}

body #location, body #temperature {
  width: 30%;
  height: 20vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

body #title-app {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  font-size: 16px;
}

body #temperature {
  flex-direction: column;
}

body #temperature #temperature-degree-section {
  cursor: pointer;
  display: flex;
  align-items: center;
}

body #temperature #temperature-degree-section h2 {
  font-size: 40px;
}

body #temperature #temperature-degree-section span {
  margin: 5%;
  font-size: 40px;
}

body #temperature-description {
  font-size: 25px;
}
